[Unit]
Description=Gate Proxy Instance (%i)
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/gate-core run -c /etc/gate/%i.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
